@model Aptek.Models.Drug
    @{
        ViewBag.Title = "Details";
    }
    <div class="container">
        <div class="row m-4">
            <div class="col-md-12">
                <div class="p-r-50 p-r-0-lg">
                    <div class="p-b-40">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="blog-detail-img wrap-pic-w" style="max-height:400px;">
                                    <img src="~/Public/images/drugs/@Model.Photo" class="w-100" alt="IMG-BLOG">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="blog-detail-txt p-t-33">
                                    <h4 class="p-b-11 m-text24">
                                        @Model.Name
                                    </h4>

                                    <div class="s-text8 flex-w flex-m p-b-21">
                                        <span>
                                            @Model.Category.Name
                                            <span class="m-l-3 m-r-6">|</span>
                                        </span>
                                    </div>
                                    <p class="p-b-25">
                                        @Model.Desc
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

