@model Aptek.Models.Setting
@{
    ViewBag.Title = "About";
}

    <div class="container">
        <div class="row m-4">
            <div class="col-md-12">
                <div class="p-r-50 p-r-0-lg">
                    <div class="p-b-40">
                        <h1 class="mb-4">Haqqımızda</h1>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Public/images/@Model.AboutPhoto" alt="Alternate Text" />
                            </div>
                            <div class="col-md-7">
                                @Model.About
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
